<IfModule mod_rewrite.c>
  RewriteEngine on

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Change 'build' to be the folder you will use
  RewriteCond %{REQUEST_URI} !^/build/
  RewriteRule ^(.*)$ /build/$1

  # Change 'react-start-kit2.localhost' to this site's primary domain
  RewriteCond %{HTTP_HOST} ^(www.)?react-start-kit2.localhost$

  RewriteCond %{HTTP_HOST} ^(www.)?react-start-kit2.localhost$
  RewriteRule ^(/)?$ build/index.html [L]
</IfModule>
